body
{
padding:0; 
margin:0; 
font-family: Arial, "trebuchetMS", sans-serif; 
font-size:16px; 
color:#494949; 
line-height: 1.5em;
}
fieldset
{
width:600px;
margin:30px auto;
}   
label
{
float:left;
width:20%;margin-left:35px;
} 
.form_container
{
margin-top:15px;
}
.form_element
{
width:auto;
margin-left:10px;
}
#operation
{
margin:10px 35px;
}
#form_textarea
{
margin-top:10px;
}
