body
{
padding:0; 
margin:0; 
font-family: Arial, "trebuchetMS", sans-serif; 
font-size:16px; 
color:#494949; 
line-height: 1.5em;
}

a:link
{
color:blue;
}
a:visited
{
color:black;
}
a:hover
{
color:red;
}
a:active
{
border:1px dotted red
}
fieldset
{
width:550px;
margin:30px auto;
}     
label
{
float:left;
width:35%;margin-left:35px;
}   
.form_container
{
margin-top:15px;
}
.operation_container
{
float:left; 
width:25%; 
margin:20px auto; 
}    
.input_element
{
width:50%;
text-align:center;
}
#reset
{
width:30%;
}
.form_element
{
width:auto;
margin-left:10px;
}


