body
{
padding:0; 
margin:0; 
font-family: Arial, "trebuchetMS", sans-serif; 
font-size:16px; 
color:#494949; 
line-height: 1.5em;
}
.heading
{
text-align: center;
}
.form_element
{
 margin-top: 10px;
}
label
{
float:left;
width:15%;
margin-top: 10px;
margin-left: 50px;
}
#submit
{
margin-left: 50px;
margin-top: 20px;
}
fieldset
{
width:550px;
margin:50px auto;
}