body {
font-family:Arial, trebuchetMS, sans-serif;
font-size:16px;
color:#494949;
line-height:1.5em;
margin:0;
padding:0;
}

fieldset {
width:550px;
margin:100px auto;
}

.form_container {
margin:20px;
}

label {
float:left;
width:20%;
}

.form_element {
width:60%;
margin-left:10px;
}

.form_operation {
float:left;
margin:10px;
}

.heading {
text-align:center;
}

.heading_container {
width:400px;
margin:20px auto;
}

.wrapper {
border:1px solid #000;
width:400px;
background-color:#FFC0CB;
margin:30px auto;
}

.feed_title, #fail_container {
font-weight:700;
font-size:18px;
}

.friends {
border-bottom:1px solid #000;
}